<div class="bgexp">
    <div class="container pt-5">
      <div class="row">
        <h1 class="mb-5 blue border-bottom">Experiencia Laboral</h1>
        <div class="col-6 mt-2"><h3>Trabajo 1</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <div class="col-6 mt-2"><h3>Trabajo 2</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <div class="col-6 mt-2"><h3>Trabajo 3</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <h1 class="my-5 blue border-bottom">Educación</h1>
        <div class="col-6 mt-2"><h3>Estudio 1</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <div class="col-6 mt-2"><h3>Estudio 2</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <div class="col-6 mt-2"><h3>Estudio 3</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4 pb-5">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>

        <h1 class="mb-5 blue border-bottom">Proyectos</h1>
        <div class="col-6 mt-2"><h3>Proyecto 1</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <div class="col-6 mt-2"><h3>Proyecto 2</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
        <div class="col-6 mt-2"><h3>Proyecto 3</h3></div>
        <div class="col-6 text-end"><p class="fw-light">Años</p></div>
        <div class="col-12 mt-4 mb-5">
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore,
            inventore dolorem itaque odio ad et fugit magni accusantium maxime nam
            explicabo, beatae sed non tempora natus quod repellat exercitationem
            facilis?
          </p>
        </div>
      </div>
    </div>
  </div>