.gradient-custom {
    /* fallback for old browsers */
    background-color: rgb(81, 104, 126);
    
    /* Chrome 10-25, Safari 5.1-6 */
    background-color: rgb(81, 104, 126);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: rgb(81, 104, 126);
    }