<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" alt="Aplogo" class="logoAP">
        </div>
        <div class="redes">

            <a href=""><img src="../../../assets/linkedin.png" alt="linkedin" class="imgsocial"></a>
            <a href=""><img src="../../../assets/twitter.png" alt="twitter" class="imgsocial"></a>
            <a href=""><img src="../../../assets/instagram.png" alt="instagram" class="imgsocial"></a>
            <a href=""><img src="../../../assets/github.png" alt="github" class="imgsocial"></a>
            <a href=""><img src="../../../assets/facebook.png" alt="facebook" class="imgsocial"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()">Ingreso</button>
        </div>
    </div>
</div>