.row{
    background-color: rgb(22, 21, 21);
    
}

footer{
    color: #fefefe;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px -2px 5px #999;
    padding-top: 15px;
    
    
}
